<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Lista de estudiantes</title>
    </h:head>
    <script type="text/javascript" src="resource/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="#{request.contextPath}/resource/bootstrap/css/bootstrap.css"  type="text/css"/>
    <h:body>
        <h:dataTable>
            <h:column>
                
            </h:column>
            <h:column>
                
            </h:column>
            <h:column>
                
            </h:column>
            <h:column>
                
            </h:column>
            <h:column>
                
            </h:column>
            <h:column>
                
            </h:column>
        </h:dataTable>
    </h:body>
</html>

