<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Login</title>
    </h:head> 
    <script type="text/javascript" src="resource/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="#{request.contextPath}/resource/bootstrap/css/bootstrap.css"  type="text/css"/>
    <h:body> 
        <div class="container">
            <h:form prependId="false" class="navbar-form navbar-left" role="search">
                
                    <h:commandLink value="Registrarse" action="registrarse"></h:commandLink>
             
                <h:panelGrid>
                    <br/>
                    <h:outputText id="txtMensaje" class="label label-info" value="#{managedBeanUser.mensaje}"></h:outputText>
                    <br/>
                    <h:outputText value="Login de usuario" class="label label-default"/>
                    <div class="form-group">
                        <h:outputLabel id="lblUsuario" value="Usuario: "></h:outputLabel>
                        <h:inputText id="txtUsuario" class="form-control" required="true" requiredMessage="campo obligatorio" value="#{managedBeanUser.usu.nombre}" styleClass="form-control">
                        </h:inputText>
                        <p class="help-block">
                            <h:message styleClass="alert alert-danger" for="txtUsuario"></h:message> 
                        </p>
                    </div>
                    <hr/>
                    <br/>
                    <div class="form-group">
                        <h:outputText id="lblContrasena" value="Contrasena: "></h:outputText>
                        <h:inputSecret id="txtContrasena" value="#{managedBeanUser.usu.password}" styleClass="form-control" ></h:inputSecret>
                    </div>
                    <br/>
                    <h:commandButton id="btnLogin" value="Login" action="#{managedBeanUser.verificarUsuario()}" actionListener="#{managedBeanUser.loginActionEvent}" styleClass="btn btn-success" ></h:commandButton>
                </h:panelGrid>


            </h:form>
        </div>
    </h:body>

</html>

