<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>registro de usuario</title>
    </h:head>
    <script type="text/javascript" src="resource/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="#{request.contextPath}/resource/bootstrap/css/bootstrap.min.css"  type="text/css"/>s
    <h:body>
        <h:panelGrid>
            <h:form>
                <h:outputText id="lblNombre" value="Nombre: "></h:outputText>
                <h:inputText id="txtNombre" value="#{managedBeanRegUser.reg.nombre}">
                    <f:validateLength minimum="1" maximum="100" />
                </h:inputText>
                <h:message for="txtNombre"></h:message>
                <br/>

                <h:outputText id="lblAPellido1" value="Apellido 1: "></h:outputText>
                <h:inputText id="txtApellido1" value="#{managedBeanRegUser.reg.apellido_1}">
                </h:inputText>
                <h:message for="txtApellido1"></h:message>
                <br/>

                <h:outputText id="lblApellido2" value="Apellido 2: "></h:outputText>
                <h:inputText id="txtApellido2" value="#{managedBeanRegUser.reg.apellido_2}">
                </h:inputText>
                <h:message for="txtApellido2"></h:message>
                <br/>

                <h:outputText id="lblCedula" value="Cedula: "></h:outputText>
                <h:inputText id="txtCedula" value="#{managedBeanRegUser.reg.cedula}">
                    <f:validateRequired/>
                    <f:validateLength maximum="11"/>
                </h:inputText>
                <h:message for="txtCedula"></h:message>
                <br/>

                <h:outputText id="lblFechanacimiento" value="Fecha Nacimiento"></h:outputText>
                <h:inputText id="txtFechaNacimiento" value="#{managedBeanRegUser.reg.fechanacimiento}">
                    <f:convertDateTime pattern="yyyy/mm/dd"/>
                </h:inputText>
                <h:message for="txtFechaNacimiento"></h:message>
                <br/>

                <h:outputText value="Nombre de usuario: "></h:outputText>
                <h:inputText id="txtNombreUsuario" value="#{managedBeanRegUser.reg.nombreUsuario}">
                    <f:validateRequired/>
                </h:inputText>
                <h:message for="txtNombreUsuario"></h:message>
                <br/>

                <h:outputText id="lblContrasena" value="Contrasena: "></h:outputText>
                <h:inputSecret id="txtContrasena" value="#{managedBeanRegUser.reg.contrasenaUsuario}">
                    <f:validateRequired/>
                    <f:validateLength maximum="8"/>
                </h:inputSecret>
                <h:message for="txtContrasena"></h:message>
                <br/>

                <h:outputText value="Lugar de Nacimiento: "></h:outputText>
                <h:inputText id="txtLugarNacimiento" validator="#{managedBeanRegUser.reg.lugarNacimiento}" >
                </h:inputText>
                <br/>

                <h:outputText id="lblEmail" value="Email: " />
                <h:inputText id="txtEmail" value="#{managedBeanRegUser.reg.email}" >
                    <f:validateRequired/>
                </h:inputText>
                <h:message for="txtEmail"></h:message>
                <br/>
                <h:commandButton id="btnRegistro" value="Registrase" action="#{managedBeanRegUser.registrarse()}"></h:commandButton>
            </h:form>
        </h:panelGrid>
    </h:body>
</html>

